<header>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<!-- titulo -->
		<h1 class="navbar-brand m-auto">
			Grupo2
		</h1>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample03">
			<div class="navbar-nav mr-auto"></div>
			<div class="my-0 mx-1 p-0">
				<input style="background-color:#343a40; border: 0; color: white;" type="text" disabled [value]="usuario">
			</div> 
			<div class="my-0 mx-1 p-0">
				<a class="btn btn-secondary w-100 mt-3 my-sm-0" (click)="cerrar()">Cerrar sesión</a>
			</div>
		</div>
	</nav>
</header>